body {
    font-family: Arial, sans-serif;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:lavender;
}
h1{
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input {
    width: 250px;
    padding: 6px;
    margin-top: 4px;
    margin-bottom: 12px;
    border-radius: 5px;
    width:396px;
    height: 28px;
}

button {
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}